@charset "utf-8";
/* CSS Document */

h4 {
    padding: 30px 35px 30px 10px;
    font-size: 105%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #366;
    background: url(../images/smallbug.png) no-repeat right center;
    height: 2.5em;
}
h1{
	letter-spacing: 2px;
	font-weight: lighter;
}
a{
	text-decoration: none;
}
body{
	font-family: "Century Gothic", Arial, sans-serif;
}